<section>
  <h1>
    Koniec rundy
  </h1>
  <h2>
    Twój wynik to: {{ roundInfo.score }}
  </h2>
  <table>
    <tr *ngFor="let answer of answers">
      <ng-container *ngIf="answer.correct; then correct; else wrong;"></ng-container>
      <ng-template #correct>
        <td>
          <span class="correct">{{ answer.operation.displayValue}} = {{ answer.value }}</span>
        </td>
        <td></td>
      </ng-template>
      <ng-template #wrong>
        <td><span class="incorrect">{{ answer.operation.displayValue}} = {{ answer.value }}</span></td>
        <td><span class="correct">{{ answer.operation.displayValue }} = {{ answer.operation.result }}</span></td>
      </ng-template>
    </tr>
  </table>
  <ng-container *ngIf="roundResult; then success else failure"></ng-container>
  <ng-template #success>
    <button (click)="playNextLevel()">Dalej</button>
  </ng-template>
  <ng-template #failure>
    <button (click)="playNextLevel()">Jeszcze raz</button>
  </ng-template>
</section>
