<nz-card [nzTitle]="'Wynik rundy: ' + roundInfo.score" [nzActions]="[nextAction]">
  <section>
    <nz-table #answersTable [nzData]="answers" [nzShowPagination]="false" class="answers-table">
      <tbody>
      <tr *ngFor="let answer of answersTable.data">
        <ng-container *ngIf="answer.correct; then correct; else wrong;"></ng-container>
        <ng-template #correct>
          <td>
            <span class="correct">{{ answer.operation.displayValue}} = {{ answer.value }}</span>
          </td>
          <td></td>
        </ng-template>
        <ng-template #wrong>
          <td><span class="incorrect">{{ answer.operation.displayValue}} = {{ answer.value }}</span></td>
          <td><span class="correct">{{ answer.operation.displayValue }} = {{ answer.operation.result }}</span></td>
        </ng-template>
      </tr>
      </tbody>
    </nz-table>
  </section>
</nz-card>
<ng-template #nextAction>
  <ng-container *ngIf="roundResult; then success else failure"></ng-container>
  <ng-template #success>
    <button nz-button nzType="primary" nzSize="large" (click)="playNextLevel()">Dalej</button>
  </ng-template>
  <ng-template #failure>
    <button nz-button nzType="primary" nzSize="large" (click)="playNextLevel()">Jeszcze raz</button>
  </ng-template>
</ng-template>
