.app-round-status ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
}

.app-round-status li {
  align-items: center;
  justify-content: center;
  display: flex;
}

.app-round-status li.app-active {
}

.app-round-status li.app-correct {
}

.app-round-status li.app-wrong {
}

.anticon {
  font-size: 24px;
}
